<div th:fragment="insert-form">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
                        <table width="25%">
                            <tr>
                                <td>Name *</td>
                                <td><input th:field="*{name}" /></td>
                                <td>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Email *</td>
                                <td><input th:field="*{email}" /></td>
                                <td>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Phone *</td>
                                <td><input th:field="*{phone}" /></td>
                                <td>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
                                </td>
                            </tr>

                            <tr>
                                <td>Address *</td>
                                <td><input th:field="*{address}" /></td>
                                <td>
                                    <span class="error-message"
                                          th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><input type="submit" value="Submit" /> <input type="reset"
                                                                                  value="Reset" /></td>
                            </tr>
                        </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="Save" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>